<md-toolbar class="md-hue-2 toolbarOuter" md-theme="toolbar">
		<div class="md-toolbar-tools toolbarInner" layout="row"
			layout-align="center center">
			<div layout="row" layout-align="center center" flex-xs="90"
				flex-sm="70" flex-gt-sm="55">

				<span class="alignLeft" flex="33">
					 <p class="redFont fnt16 fntWgt600">
					 <a class="redFont fnt16 fntWgt600" ui-sref="landingPage" ui-sref-active="active">Student +</a>
					 </p>
				<!--	<a class="redFont fnt16 fntWgt600" ui-sref="landingPage" ui-sref-active="active">Student +</a>  -->
				</span>
				
				<span class="alignLeft" flex="33">
					 <p class="redFont fnt16 fntWgt600">
					 <a class="redFont fnt16 fntWgt600" ui-sref="profile" ui-sref-active="active">My Profile</a>
					 </p>
				<!--	<a class="redFont fnt16 fntWgt600" ui-sref="landingPage" ui-sref-active="active">Student +</a>  -->
				</span>	
				
				<span class="alignRight" flex="33"><p
						class="redFont fnt16 fntWgt600">Hello {{vm.userId}}</p></span>
				</span> 			
					 
				<span class="alignRight" flex="33"><a href="/logout">
					<md-button class="redFont signUpBtn">Sign out</md-button></a>
				</span>
				<!--	<a class="redFont fnt16 fntWgt600" ui-sref="landingPage" ui-sref-active="active">Student +</a>  -->
				</span>
				
			</div>
		</div>
</md-toolbar>