<md-toolbar class="md-hue-2 toolbarOuter" md-theme="toolbar">
		<div class="md-toolbar-tools toolbarInner" layout="row"
			layout-align="center center">
			<div layout="row" layout-align="center center" flex-xs="90"
				flex-sm="70" flex-gt-sm="55">
				<span class="alignLeft" flex="33"><p class="redFont fnt16 fntWgt600">Student +</p></span> <span
					class="alignCenter" flex="33"><p class="fnt16">Log In</p></span> 
					<!-- <span
					class="alignRight" flex="33"><a class="btn" 
						class="redFont fnt16 fntWgt600 alignRight">Sign Up</a></span> -->
						
					<!-- class="alignRight" flex="33">
						<md-button class="redFont fnt16 fntWgt600 alignRight" ng-click=vm.registration()>Sign Up</md-button> -->
						
						<!-- <md-button class="redFont fnt16 fntWgt600 alignRight" flex="33">
							
						 		<a ui-sref="registration" ui-sref-active="active">Sign Up</a>						
							
						</md-button> --> 
						
					<span class="alignRight" flex="33">
					 	<p class="redFont fnt16 fntWgt600 alignRight" flex="33">
					 		<a class="redFont fnt16 fntWgt600" ui-sref="registration" ui-sref-active="active">Sign Up</a>
					 	</p>
					</span>
			</div>
		</div>
</md-toolbar>