<md-toolbar class="md-hue-2 toolbarOuter" md-theme="toolbar">
		<div class="md-toolbar-tools toolbarInner" layout="row"
			layout-align="center center">
			<div layout="row" layout-align="center center" flex-xs="90"
				flex-sm="70" flex-gt-sm="55">
				<span class="alignLeft" flex="33"><p
						class="redFont fnt16 fntWgt600">Student +</p></span> <span
					class="alignCenter" flex="33"><p class="fnt16">Sign Up</p></span>
				<!-- <span
					class="alignRight" flex="33"><a class="btn" 
						class="redFont fnt16 fntWgt600 alignRight">Sign Up</a></span> -->
				<span class="alignRight" flex="33"><a href="login"> <md-button
						class="redFont signUpBtn">Log In</md-button></a>
				</span>
			</div>
		</div>
</md-toolbar>